<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.drawandcoloring">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Draw and Paint"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.DrawAndColoring"
        >
        <activity
            android:name=".PaintsActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShowActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".GalleryActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".DrawingActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".ColoringActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>